<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
    <style>
        
    </style>
</head>
<body>
    <!-- login.html -->
    <th:block th:replace="~{inc/header.html :: header}"></th:block>
    
    <h2>Login</h2>
    
    <div>
        <button type="button" onclick="location.href='/oauth2/authorization/naver';">네이버 로그인</button>
        <button type="button" 
        onclick="location.href='/oauth2/authorization/google';">구글 로그인</button>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://bit.ly/4cMuheh"></script>
    <script>
        
    </script>
</body>
</html>




