<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
    <style>
        
    </style>
</head>
<body>
    <!-- add.html -->
    <h1>주소록 <small>추가하기</small></h1>
    
    <form method="POST" action="/m1">
    <table>
        <tr>
            <th>이름</th>
            <td><input type="text" name="name" required></td>
        </tr>
        <tr>
            <th>나이</th>
            <td><input type="number" name="age" min="1" required></td>
        </tr>
        <tr>
            <th>주소</th>
            <td><input type="text" name="address" required></td>
        </tr>
        <tr>
            <th>성별</th>
            <td>
                <select name="gender">
                    <option value="m">남자</option>
                    <option value="f">여자</option>
                </select>
            </td>
        </tr>
    </table>
    <div>
        <button>추가하기</button>
    </div>
    </form>
    
    
    
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://bit.ly/4cMuheh"></script>
    <script>
        
    </script>
</body>
</html>




