<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
    <style>
        
    </style>
</head>
<body>
    <!-- m6.html -->
    <h1>포맷팅</h1>
    
    <h2>숫자</h2>
    <div th:text="${num1}"></div>
    <div th:text="${#numbers.formatInteger(num1, 0, 'COMMA')}"></div>
    
    <div th:text="${num2}"></div>
    <div th:text="${#numbers.formatInteger(num2, 0, 'COMMA')}"></div>
    <div th:text="${#numbers.formatDecimal(num2, 0, 1)}"></div>
    <div th:text="${#numbers.formatDecimal(num2, 0, 'COMMA', 1, 'POINT')}"></div>
    
    <h2>날짜</h2>
    <!-- <div th:text="${now}"></div> -->
    <div th:text="${#dates.year(now)}"></div>
    <div th:text="${#dates.month(now)}"></div>
    <div th:text="${#dates.monthName(now)}"></div>
    <div th:text="${#dates.monthNameShort(now)}"></div>
    <div th:text="${#dates.day(now)}"></div>
    <div th:text="${#dates.hour(now)}"></div>
    <div th:text="${#dates.minute(now)}"></div>
    <div th:text="${#dates.second(now)}"></div>
    <div th:text="${#dates.millisecond(now)}"></div>
    <div th:text="${#dates.dayOfWeek(now)}"></div>
    <div th:text="${#dates.dayOfWeekName(now)}"></div>
    <div th:text="${#dates.dayOfWeekNameShort(now)}"></div>
    
    <div th:text="${#dates.format(now)}"></div>
    <div th:text="${#dates.format(now, 'yyyy-MM-dd HH:mm:ss')}"></div>
    <div th:text="${#dates.format(now, 'yyyy-MM-dd aa hh:mm:ss')}"></div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://bit.ly/4cMuheh"></script>
    <script>
        
    </script>
</body>
</html>




