<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.thymeleaf.mapper.AddressMapper">
  
    <select id="time" resultType="String">
        select sysdate from dual
    </select>
    
    <!-- int count(); -->
    <select id="count" resultType="Integer">
        select count(*) from tblAddress
    </select>
    
    <!-- String getName(int seq); -->
    <select id="getName" parameterType="Integer" resultType="String">
        select name from tblAddress where seq = #{seq}
    </select>

    <!-- AddressDTO get(int seq); -->
    <select id="get" parameterType="Integer" resultType="AddressDTO">
        select * from tblAddress where seq = #{seq}
    </select>
    
    <!-- List<String> names(); -->
    <select id="names" resultType="String">
        select name from tblAddress
    </select>

    <!-- List<AddressDTO> list(); -->
    <select id="list" resultType="AddressDTO">
        select * from tblAddress
    </select>
      
</mapper>









